body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0e1010;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.5rem; 
}

@media (max-width: 768px) {
    /* Styles for mobile screens */
    /* Add your mobile-specific styles here */
    /* For example: */
    body {
        width: 100%;
    }
}

